<!doctype html>
<html lang="ru">
 <head>
  <title>Job Postings</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 </head>
 <body>
  <table>
   <tbody>
    <tr>
     <th>Title</th>
     <th>City</th>
     <th>Company Name</th>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/coinbase/senior-machine-learning-engineering-manager-risk-and-fraud">Senior Machine Learning Engineering Manager, Risk and Fraud</a></td>
     <td class="city">Atlanta, GA</td>
     <td class="companyName">Coinbase</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/kyndryl/software-engineer-backend-developer-python">Software Engineer Backend Developer Python</a></td>
     <td class="city">Bangalore, India</td>
     <td class="companyName">Kyndryl</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/meta/product-security-engineer-instagram-c83a58">Product Security Engineer, Instagram</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Meta</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/atlassian/senior-engineering-manager-platform-2f1ea6">Senior Engineering Manager, Platform</a></td>
     <td class="city">Austin, TX</td>
     <td class="companyName">Atlassian</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/kyndryl/lead-infrastructure-specialist-0a6145">Lead, Infrastructure Specialist</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Kyndryl</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/coinbase/senior-software-engineer-infrastructure-platform-datastores-7e1a8a">Senior Software Engineer, Infrastructure (Platform - Datastores)</a></td>
     <td class="city">Atlanta, GA</td>
     <td class="companyName">Coinbase</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/kyndryl/senior-mainframe-zos-system-administrator">Senior Mainframe z/OS System Administrator</a></td>
     <td class="city">Bangalore, India</td>
     <td class="companyName">Kyndryl</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/coinbase/staff-software-engineer-eaa-92ab91">Staff Software Engineer (EAA)</a></td>
     <td class="city">Atlanta, GA</td>
     <td class="companyName">Coinbase</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/bluecore/senior-qa-engineer">Senior QA Engineer</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Bluecore</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/coinbase/software-engineer-backend-consumer-coinbase-card-fb5bd9">Software Engineer, Backend (Consumer - Coinbase Card)</a></td>
     <td class="city">Atlanta, GA</td>
     <td class="companyName">Coinbase</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/generalmotors/principal-software-engineer-site-reliability-engineering">Principal Software Engineer, Site Reliability Engineering</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">General Motors</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/meta/software-engineer-android-be77e4">Software Engineer, Android</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Meta</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/kyndryl/senior-devops-engineer-20c576">Senior DevOps Engineer</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Kyndryl</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/leidos/test-engineer-b98d85">Test Engineer</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Leidos</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/meta/software-engineer-infrastructure-9c7b89">Software Engineer, Infrastructure</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Meta</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/socure/sr-manager-platform-engineering">Sr. Manager, Platform Engineering </a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Socure</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/ensono/lead-administrator-zlinux">Lead Administrator, zLinux</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Ensono</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/meta/production-engineering-9f2fd1">Production Engineering</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Meta</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/equinixinc/managing-director-philippines">Managing Director, Philippines</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Equinix, Inc</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/libertymutualinsurance/network-security-engineer-firewall-management-aa8aab">Network Security Engineer - Firewall Management</a></td>
     <td class="city">Boston, MA</td>
     <td class="companyName">Liberty Mutual Insurance</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/kyndryl/software-engineering-qa-1c3024">Software Engineering QA</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Kyndryl</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/kyndryl/customer-technology-advisor-application-services-d9f575">Customer Technology Advisor - Application Services</a></td>
     <td class="city">Buenos Aires, Argentina</td>
     <td class="companyName">Kyndryl</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/atlassian/senior-principal-software-engineer-platform-engineering">Senior Principal Software Engineer - Platform Engineering</a></td>
     <td class="city">Auckland, New Zealand</td>
     <td class="companyName">Atlassian</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/atlassian/principal-frontend-software-engineer-e33d3b">Principal Frontend Software Engineer</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Atlassian</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/northropgrumman/mission-planner-oncallcasual-employee-de85d0">Mission Planner (On-Call/Casual Employee)</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Northrop Grumman</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/coinbase/staff-software-engineer-backend-institutional-foundations-96abec">Staff Software Engineer, Backend (Institutional - Foundations)</a></td>
     <td class="city">Atlanta, GA</td>
     <td class="companyName">Coinbase</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/meta/production-engineer-bb1911">Production Engineer</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Meta</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/allstate/sr-full-stack-software-engineer-aws-connect-78e28a">Sr Full Stack Software Engineer - AWS Connect</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Allstate</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/kyndryl/servicenow-itom-developer-0add1b">Servicenow ITOM Developer</a></td>
     <td class="city">Bangalore, India</td>
     <td class="companyName">Kyndryl</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/anthology/etl-developer-9afcf7">ETL Developer</a></td>
     <td class="city">Boca Raton, FL</td>
     <td class="companyName">Anthology</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/gevernova/chef-de-projet-dingenierie-industrie-hydroelectrique-project-engineering-manager-hydroelectric-industry-937f25">Chef de projet d'Ingénierie (Industrie Hydroélectrique) / Project Engineering Manager (Hydroelectric industry)</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">GE Vernova</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/kyndryl/application-delivery-manager">Application Delivery Manager</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Kyndryl</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/coinbase/senior-software-engineer-backend-consumer-growth-e9723f">Senior Software Engineer, Backend (Consumer - Growth)</a></td>
     <td class="city">Atlanta, GA</td>
     <td class="companyName">Coinbase</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/hubspot/senior-software-engineer-ii-backend-reliability">Senior Software Engineer II, Backend, Reliability</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">HubSpot</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/headway/senior-fullstack-software-engineer-f28872">Senior Fullstack Software Engineer</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Headway</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/meta/software-engineer-android-1a8c66">Software Engineer, Android</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Meta</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/samsarainc/senior-software-engineer-route-execution">Senior Software Engineer - Route Execution</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Samsara Inc.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/cummins/it-oracle-planning-cloud-solution-engineer-senior-37006f">IT Oracle Planning Cloud Solution Engineer - Senior</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Cummins</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/keeptruckin/senior-mobile-engineer">Senior Mobile Engineer</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">KeepTruckin</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/meta/game-server-engineer-bigbox">Game Server Engineer - BigBox</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Meta</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/telusdigital/personalized-internet-ads-assessor-spanish-speakers-in-peru-40ab59">Personalized Internet Ads Assessor - Spanish Speakers in Peru</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">TELUS Digital</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/mavenclinic/senior-software-engineer-backend-engineering-8acf33">Senior Software Engineer, Backend Engineering</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Maven Clinic</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/kyndryl/senior-qa-engineer">Senior QA Engineer</a></td>
     <td class="city">Bangalore, India</td>
     <td class="companyName">Kyndryl</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/coinbase/software-engineer-backend-consumer-stablecoin-87fdb0">Software Engineer, Backend (Consumer - Stablecoin)</a></td>
     <td class="city">Atlanta, GA</td>
     <td class="companyName">Coinbase</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/coinbase/senior-software-engineer-backend-financial-hub">Senior Software Engineer, Backend - Financial Hub</a></td>
     <td class="city">Atlanta, GA</td>
     <td class="companyName">Coinbase</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/esri/sr-software-developer-arcgis-pro-imagery-27ca2e">Sr. Software Developer - ArcGIS Pro Imagery</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Esri</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/kindercarelearningcompanies/lead-boomi-integration-engineer-remote-opportunity">Lead BOOMI Integration Engineer - Remote Opportunity</a></td>
     <td class="city">Beaverton, OR</td>
     <td class="companyName">KinderCare Learning Companies</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/ensono/client-solutions-director-digital-consulting">Client Solutions Director - Digital Consulting</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Ensono</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/keeptruckin/engineering-manager-new-products-731dbc">Engineering Manager, New Products</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">KeepTruckin</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/meta/software-engineer-leadership-machine-learning-7269f7">Software Engineer (Leadership) - Machine Learning</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Meta</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/meta/software-engineer-infrastructure-19721b">Software Engineer, Infrastructure</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Meta</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/telusdigital/english-us-online-task-contributor">English (US) Online Task Contributor</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">TELUS Digital</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/generalmotors/staff-software-engineer-mobile-81f4df">Staff Software Engineer - Mobile</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">General Motors</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/konecranes/engineering-manager-new-berlin-wi">Engineering Manager - New Berlin, WI</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Konecranes</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/samsarainc/midmarket-account-development-representative-outbound-29b05b">Mid-Market Account Development Representative - Outbound</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Samsara Inc.</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/coinbase/engineering-manager-institutional-exchange-37bf0c">Engineering Manager (Institutional - Exchange)</a></td>
     <td class="city">Aldergrove, Canada</td>
     <td class="companyName">Coinbase</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/meta/software-engineer-infrastructure-240bca">Software Engineer, Infrastructure</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Meta</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/meta/software-engineer-systems-ml-frameworks-compilers-kernels-f2ef2e">Software Engineer, Systems ML - Frameworks / Compilers / Kernels</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Meta</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/leidos/servicenow-low-code-no-code-platform-senior-manager">ServiceNow Low Code No Code Platform Senior Manager</a></td>
     <td class="city">Flexible / Remote</td>
     <td class="companyName">Leidos</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.themuse.com/jobs/coinbase/software-engineer-full-stack-eaa-257990">Software Engineer, Full Stack (EAA)</a></td>
     <td class="city">Atlanta, GA</td>
     <td class="companyName">Coinbase</td>
    </tr>
    <tr class="vacancy template" style="display: none">
     <td class="title"><a href="url"></a></td>
     <td class="city"></td>
     <td class="companyName"></td>
    </tr>
   </tbody>
  </table>
 </body>
</html>