<!doctype html>
<html lang="ru">
 <head> 
  <title>Job Postings</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
    </tr>                                                             
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/junior-software-engineer-cohort-at-koddi-4291043991?position=1&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=4MUwSapuBzjomke9CYlo%2BQ%3D%3D">Junior Software Engineer Cohort</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Koddi</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-developer-at-elios-talent-4280891198?position=2&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=dB8aKtWgGb%2FteelktUZ0OA%3D%3D">Full Stack Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Elios Talent</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-engineer-at-mastech-digital-4207602592?position=3&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=U7g7U7zoQedGXE3hF69pOg%3D%3D">Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Mastech Digital</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-at-dataannotation-4127804586?position=4&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=d5491I677v0TCBKm9BNI%2BQ%3D%3D">Software Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">DataAnnotation</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/associate-at-leadenhall-search-selection-4291308315?position=5&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=a9ZMbn9mC%2F3nIzfEjLJRBQ%3D%3D">Associate</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Leadenhall Search &amp; Selection</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-engineer-at-eliassen-group-4291586739?position=6&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=5XhMhzFXpsKnjDP1cWndXQ%3D%3D">Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Eliassen Group</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-at-springbokit-4279275687?position=7&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=rANR8%2FNlZs%2B7jLHT38MW9A%3D%3D">Software Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">SpringbokIT</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-work-on-trading-systems-%24150-000-%24200-000-%2B-bonus%21-at-saragossa-4288585688?position=8&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=rbuLYaozs4cznF8GTjQTFQ%3D%3D">Software Engineer- work on trading systems- $150,000-$200,000 + bonus!</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Saragossa</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-developer-at-dataannotation-4218037046?position=9&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=lg8qkCtEKUvM8IEjDHEdRA%3D%3D">Software Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">DataAnnotation</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-engineer-at-resolve-tech-solutions-4289563418?position=10&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=kIquQDcCv5UJ9dynWdu41w%3D%3D">Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Resolve Tech Solutions</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/senior-software-engineer-at-koddi-4256723898?position=11&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=J2%2B3XAVO7j3HLZ1ZPRXAZQ%3D%3D">Senior Software Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Koddi</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-experienced-e-commerce-engineer-at-legends-4279938292?position=12&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=hB3aNakLg1KO%2BHnY6Pzd0g%3D%3D">Full Stack Experienced E-Commerce Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Legends</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/sr-java-full-stack-engineer-at-compunnel-inc-4282187970?position=13&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=ac9iHHu4ODyr%2F5wNB7eBVg%3D%3D">Sr. Java Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Compunnel Inc.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/chief-technology-officer-at-elios-talent-4276894553?position=14&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=o8EQMi8X2kdj4Szn%2Fa1JuQ%3D%3D">Chief Technology Officer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Elios Talent</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-at-saltu-staffing-4288489169?position=15&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=hjxSTTgHxPRO05SkcCsACA%3D%3D">Software Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Saltu Staffing</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/java-developer-top-secret-clearance-at-paladin-consulting-4289025852?position=16&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=esHjlvnhG5GG%2BUdd11lBFQ%3D%3D">Java Developer (Top Secret Clearance)</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Paladin Consulting</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/java-aws-engineer-at-naztec-international-group-4283785347?position=17&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=XJ83xSRkqQmpIqCWAz%2BqSw%3D%3D">Java AWS Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Naztec International Group</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-engineer-at-destination-pet-llc-4281901463?position=19&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=e5JOFCxow4Fp2zEelmvPIg%3D%3D">Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Destination Pet, LLC</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-developer-at-jobs-by-allup-4287079813?position=20&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=Bd8EkT3mrkfcuawTFlvsmw%3D%3D">Full Stack Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">JOBS by allUP</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/sr-software-engineer-at-springbokit-4288035724?position=21&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=qK6n%2F%2FGKsnYKebhlI3SvDg%3D%3D">Sr Software Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">SpringbokIT</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-%E2%80%94-react-native-development-at-orion-groups-4289943294?position=22&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=BRXkDyVd9hhuI5ULpTOcOA%3D%3D">Software Engineer — React Native Development</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Orion Groups</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-camunda-at-eliassen-group-4291008136?position=23&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=PzONKk8i5w6Wrn6VnNhY0g%3D%3D">Software Engineer/Camunda</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Eliassen Group</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/senior-level-full-stack-engineer-at-eliassen-group-4285917129?position=24&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=qI4Kj6gyvxZusFOCZjAYHQ%3D%3D">Senior Level Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Eliassen Group</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/front-end-engineer-at-jobs-by-allup-4284163384?position=25&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=v857Fw8bmXtmqXQJarBwhg%3D%3D">Front End Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">JOBS by allUP</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineering-specialist-human-data-at-xai-4255474371?position=26&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=dVcFmDcVJBm4BObnpQzBDw%3D%3D">Software Engineering Specialist - Human Data</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">xAI</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/machine-learning-engineer-at-springbokit-4276810144?position=27&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=1ToXRvfYATTg5LMQe6k9PA%3D%3D">Machine Learning Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">SpringbokIT</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/java-software-engineer-postgresql-aws-at-compunnel-inc-4290422563?position=28&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=fJ9NJV1q%2BpNr6X9dLpOLqA%3D%3D">Java Software Engineer (PostgreSQL/AWS)</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Compunnel Inc.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/python-developer-at-talentdome-staffing-4289352893?position=29&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=7MqhVvsAcW8t49H6JZQh9w%3D%3D">Python Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">TalentDome Staffing</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/ai-engineer-at-elios-talent-4276893421?position=30&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=B1KI2HjslgHZ67%2F2k1lu5A%3D%3D">AI Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Elios Talent</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-test-engineer-at-mastech-digital-4289871381?position=31&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=oRxMkeGCNM4UxNz%2F%2Fe0mwA%3D%3D">Software Test Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Mastech Digital</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/senior-data-scientist-at-elios-talent-4276898090?position=32&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=NcSQp6vBbJg1GsWuAN%2F%2F3A%3D%3D">Senior Data Scientist</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Elios Talent</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/data-engineer-at-aaratech-4290596892?position=33&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=J6SAlZvD2kEM%2BXW%2BOt1HqA%3D%3D">Data Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">AARATECH</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/python-developer-at-mastech-digital-4280243456?position=34&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=D4JKNW7hwtbwzjOitbVWMg%3D%3D">Python Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Mastech Digital</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-in-test-at-mastech-digital-4265477037?position=35&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=OPVEtk6ZzOpvpF4CyTzxLA%3D%3D">Software Engineer in Test</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Mastech Digital</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/data-engineer-at-mastech-digital-4249692855?position=36&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=W%2Fi3e11jQCMJJBrJCYiVjw%3D%3D">Data Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Mastech Digital</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/node-aws-backend-software-engineer-at-the-developer-link-4271768258?position=37&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=TrYpPrXT2CFpKX5rW70Nng%3D%3D">Node AWS Backend Software Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">The Developer Link</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/lead-full-stack-engineer-at-at-t-3993942421?position=38&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=GV2ggGZCh36qSIzliFoluw%3D%3D">Lead Full-Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">AT&amp;T</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/automation-developer-at-humcap-4268682130?position=39&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=uxhrWmm6AQe%2Be6TN4MwSqw%3D%3D">Automation Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">HumCap</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/principal-software-engineer-full-stack-at-at-t-4288828061?position=40&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=YQ1m0Uka3xpbsDIDvfxc%2FA%3D%3D">Principal Software Engineer (Full-Stack)</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">AT&amp;T</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/structural-engineer-at-se-impact-3960809543?position=41&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=GZGVh%2Bp4gixjl5UdJ9Sn4A%3D%3D">Structural Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">SE Impact</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/ai-engineer-at-elios-talent-4280887613?position=42&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=DvvmWecpYQA7PqOa7fR2Gg%3D%3D">AI Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Elios Talent</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/test-engineer-at-the-davis-companies-4291366025?position=43&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=o7SgCVmbyP0f6DiZSGZQhw%3D%3D">Test Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">The Davis Companies</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/data-engineer-hospital-at-odyssey-information-services-4281810467?position=44&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=uKzFAEElziqGR7GqYohmig%3D%3D">Data Engineer, Hospital</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Odyssey Information Services</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-ii-at-circle-4266984096?position=45&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=70lm0bbPjZOQk7RA1%2BCfOQ%3D%3D">Software Engineer II</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Circle</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/java-technical-lead-at-ptr-global-4284022995?position=46&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=hoEMsNCfdja3SmvvU2UfIg%3D%3D">Java Technical Lead</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">PTR Global</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/java-technical-lead-at-ptr-global-4283958709?position=47&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=BPVqv7PtLsscdfGJ8wrYyg%3D%3D">Java Technical Lead</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">PTR Global</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/senior-quality-engineer-at-jbl-resources-4290919121?position=48&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=A%2F%2B3HFB4eqdES8ebdEcunw%3D%3D">Senior Quality Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">JBL Resources</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/dev-ops-backend-software-developer-at-chalk-mountain-services-of-texas-4265217291?position=49&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=MemH%2Ff0jCJrjf%2F%2B7fmo0jg%3D%3D">Dev Ops/Backend Software Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Chalk Mountain Services of Texas</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/test-engineer-at-entegee-4284206790?position=50&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=MOlsug6fBtVFI%2FG5xyE%2Fdg%3D%3D">Test Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Entegee</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/ux-ui-solutions-architect-at-elios-talent-4280868776?position=51&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=ccnjx7HPb2wTCq2WDU8uKA%3D%3D">UX/UI Solutions Architect</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Elios Talent</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/identity-management-consultant-at-groupa-4286806057?position=52&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=1zLxH4biJxj9kwYMkTK2dQ%3D%3D">Identity Management Consultant</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">GroupA</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/principal-full-stack-developer-at-at-t-4288988741?position=53&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=JPz1WXNp8cSv2mxwoUh5Yg%3D%3D">Principal Full-Stack Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">AT&amp;T</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-ai-engineer-at-jobs-by-allup-4286515090?position=54&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=5tayq7nxp2BJEO8INQguGQ%3D%3D">Full Stack AI Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">JOBS by allUP</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/engineering-manager-at-koddi-4268128110?position=55&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=5rqF7dZwG0qfset83h0lrw%3D%3D">Engineering Manager</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Koddi</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/quality-engineer-at-gforce-life-sciences-4291889816?position=56&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=iEl1wZpZbBpr9XO%2FNJhmhg%3D%3D">Quality Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">GForce Life Sciences</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-in-test-at-pmg-global-4291600975?position=57&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=lBFmYafPYD6FKaeYzvP1AQ%3D%3D">Software Engineer in Test</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">PMG GLOBAL</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/senior-cloud-developer-at-stelvio-group-4291295416?position=58&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=C05EAs33yIalhwEtgHeYGQ%3D%3D">Senior Cloud Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Stelvio Group</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/coders-ai-training-remote-at-braintrust-4201844493?position=59&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=BnoNISQqZG0USJoYZabUGQ%3D%3D">Coders - AI Training [Remote]</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Braintrust</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/founding-product-engineer-at-premier-group-4289113661?position=60&amp;pageNum=0&amp;refId=Jpqksy4Je5xpOIaZAhd64g%3D%3D&amp;trackingId=YnAPq1Noy76IkLKwv8e6gQ%3D%3D">Founding Product Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Premier Group</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>