<!doctype html>
<html lang="ru">
 <head> 
  <title>Job Postings</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
    </tr>                                                             
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-engineer-at-leap-metrics-4235510212?position=1&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=pH51IHKINC6JBSzzs2hnyg%3D%3D">Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Leap Metrics</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-developer-at-elios-talent-4280891198?position=2&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=dN3UT72iNG9ojEFA9i%2BjFg%3D%3D">Full Stack Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Elios Talent</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-engineer-at-mastech-digital-4207602592?position=3&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=DzZ205wbaB7W5e4ZdMHLDA%3D%3D">Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Mastech Digital</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-developer-at-oscar-4268911344?position=4&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=7EclmNWJiCmh7bTVVePDgQ%3D%3D">Full Stack Developer</a></td> 
     <td class="city">Dallas, TX</td> 
     <td class="companyName">Oscar</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-engineer-at-vivante-global-4272409547?position=5&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=sJKNoIHLWJEeJvA31X%2ByFQ%3D%3D">Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Vivante Global</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-at-dataannotation-4127804586?position=6&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=dyF56IRSyH6xyUgoB8yl7A%3D%3D">Software Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">DataAnnotation</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-at-springbokit-4279275687?position=7&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=xr5%2Flrn5A4Ht5EZFd3IjFw%3D%3D">Software Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">SpringbokIT</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-developer-at-dataannotation-4218037046?position=8&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=RvchacdlZaLqePJN8%2BWq2Q%3D%3D">Software Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">DataAnnotation</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/senior-software-engineer-at-koddi-4256723898?position=9&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=l%2Bipfn9YfXQrSKuz0Nq8kQ%3D%3D">Senior Software Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Koddi</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-developer-at-jobs-by-allup-4287079813?position=10&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=JeoVM3IiUQt%2F98yyalVb%2Bw%3D%3D">Full Stack Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">JOBS by allUP</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/sr-java-full-stack-engineer-at-compunnel-inc-4282187970?position=11&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=CE0F15Hk4cWIfbJggGfaTw%3D%3D">Sr. Java Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Compunnel Inc.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/chief-technology-officer-at-elios-talent-4276894553?position=12&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=fqLBCVP4ge%2F0pMEDw0BjIQ%3D%3D">Chief Technology Officer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Elios Talent</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/senior-software-engineer-at-point-of-rental-software-4279458918?position=13&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=x1vVDnFGiiUTMpb4X5id9g%3D%3D">Senior Software Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Point of Rental Software</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-engineer-at-eliassen-group-4270103047?position=14&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=2gSV3hqllS%2Bzo%2FLEkxqd8w%3D%3D">Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Eliassen Group</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-java-c%23-at-compunnel-inc-4278574212?position=15&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=BRngt%2BATfLfNkp0eiPfFCA%3D%3D">Software Engineer (Java/C#)</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Compunnel Inc.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-experienced-e-commerce-engineer-at-legends-4279938292?position=16&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=yb4BwaHlm4BDpDzh6heUdQ%3D%3D">Full Stack Experienced E-Commerce Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Legends</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-engineer-at-destination-pet-llc-4281901463?position=17&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=VV1dSC3po6iONKnSB3aSOA%3D%3D">Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Destination Pet, LLC</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/senior-software-engineer-at-evry-health-4282525404?position=18&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=irHHuRfmYcZG3y2B3dSkGQ%3D%3D">Senior Software Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Evry Health</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/senior-backend-software-engineer-at-the-developer-link-4271768258?position=19&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=5tZb6KwakHcJJemHOLAclg%3D%3D">Senior Backend Software Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">The Developer Link</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-engineer-java-python-at-intellisoft-technologies-4281685110?position=20&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=LjZV7ke0VryrnIwvZz%2BZ5Q%3D%3D">Full Stack Engineer - Java &amp; Python</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Intellisoft Technologies</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/principal-full-stack-engineer-at-at-t-3993942421?position=21&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=O9D7x0PZ4xp0iuCLQVlYKw%3D%3D">Principal Full-Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">AT&amp;T</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/senior-java-developer-architect-at-photon-4271816608?position=22&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=LBFWEKLBPyEG8GtvOpll5w%3D%3D">Senior Java Developer / Architect</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Photon</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/front-end-engineer-at-jobs-by-allup-4284163384?position=23&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=%2Fc22GRzRCF%2FbjcNJ%2BGCn1g%3D%3D">Front End Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">JOBS by allUP</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/senior-level-full-stack-engineer-at-eliassen-group-4285917129?position=24&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=oAVrbjvmEX6NQlfBCSIldw%3D%3D">Senior Level Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Eliassen Group</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineering-specialist-human-data-at-xai-4255474371?position=25&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=NicBBrcW1wwf8sRdA%2BjOMA%3D%3D">Software Engineering Specialist - Human Data</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">xAI</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/machine-learning-engineer-at-springbokit-4276810144?position=26&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=0S024c8ACIfhDnlnzNC7kw%3D%3D">Machine Learning Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">SpringbokIT</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-engineer-at-pmg-global-4281073622?position=27&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=JjA9SBP1%2BHIrtzI7xnJetQ%3D%3D">Full Stack Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">PMG GLOBAL</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-in-test-at-mastech-digital-4265477037?position=28&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=NSDolrgFVPI90bUcvHpViw%3D%3D">Software Engineer in Test</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Mastech Digital</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/ai-engineer-at-elios-talent-4276893421?position=29&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=8eiFaRNxXsZv%2ByDQHwk8gw%3D%3D">AI Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Elios Talent</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/data-engineer-at-mastech-digital-4249692855?position=30&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=QSXpIV9dNJZ1vx48jgOCvQ%3D%3D">Data Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Mastech Digital</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/senior-data-scientist-at-elios-talent-4276898090?position=31&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=cVS7sfbnbmSIWZ9xq9hd4A%3D%3D">Senior Data Scientist</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Elios Talent</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/senior-full-stack-developer-at-ziply-fiber-4259910598?position=32&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=axhtHv4A%2FqCcyl%2FcbOyS3Q%3D%3D">Senior Full Stack Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Ziply Fiber</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/python-developer-at-mastech-digital-4280243456?position=33&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=ue5fwFo6wtuZqNiVvqgetQ%3D%3D">Python Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Mastech Digital</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/automation-developer-at-humcap-4268682130?position=34&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=4T2vQIsOmjwjpESGU%2BzuBQ%3D%3D">Automation Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">HumCap</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/structural-engineer-at-se-impact-3960809543?position=35&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=GcFMuVzOp6OOAAuFoi50lA%3D%3D">Structural Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">SE Impact</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/data-engineer-hospital-at-odyssey-information-services-4281810467?position=36&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=Y52tHmq6ufa1VbsJS1L2Sg%3D%3D">Data Engineer, Hospital</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Odyssey Information Services</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/angular-developer-with-java-experience-at-capgemini-4213687698?position=37&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=%2FX9xq0%2BKy9PXT6cGlVrfBg%3D%3D">Angular Developer with Java Experience</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Capgemini</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-ii-at-circle-4266984096?position=38&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=AwuWCdwczOae1JVe%2Fcepag%3D%3D">Software Engineer II</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Circle</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/ai-engineer-at-elios-talent-4280887613?position=39&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=tqxBF39qpaD6mTV5xv197g%3D%3D">AI Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Elios Talent</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/dev-ops-backend-software-developer-at-chalk-mountain-services-of-texas-4265217291?position=40&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=az4TkbFiNTR9ifpaOfP1EQ%3D%3D">Dev Ops/Backend Software Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Chalk Mountain Services of Texas</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/java-technical-lead-at-ptr-global-4284022995?position=41&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=VjAX7N7qFkHqq0pzT6IZjw%3D%3D">Java Technical Lead</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">PTR Global</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/java-technical-lead-at-ptr-global-4283958709?position=42&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=cFcvDjgCjKJoOD0trpBwrQ%3D%3D">Java Technical Lead</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">PTR Global</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/project-engineer-at-balfour-beatty-us-4256037285?position=43&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=eTcAWCftIvjvEHQG0rVmTg%3D%3D">Project Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Balfour Beatty US</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/test-engineer-at-entegee-4284206790?position=44&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=Mx%2B8y%2Bbb2f0liNKe73NVDQ%3D%3D">Test Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Entegee</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/engineering-manager-at-koddi-4268128110?position=45&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=YnE0GD2HupXartgii%2F7ePQ%3D%3D">Engineering Manager</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Koddi</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineering-manager-at-gtn-technical-staffing-4273723828?position=46&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=kggeSZoQyMzKWi5BsgoScw%3D%3D">Software Engineering Manager</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">GTN Technical Staffing</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/ux-ui-solutions-architect-at-elios-talent-4280868776?position=47&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=8z5wx73ATqQTB%2FRUFsupJQ%3D%3D">UX/UI Solutions Architect</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Elios Talent</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/coders-ai-training-remote-at-braintrust-4201844493?position=48&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=KjWi6lFbxKR1ktVU2CPM%2Bw%3D%3D">Coders - AI Training [Remote]</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Braintrust</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/identity-management-consultant-at-groupa-4286806057?position=49&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=%2B%2BAS9LyI1hsg1D2JvHeE7A%3D%3D">Identity Management Consultant</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">GroupA</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/salesforce-developer-at-groupa-4286801882?position=50&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=ZkoGMNfT34PxbTk78Ro%2FJg%3D%3D">Salesforce Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">GroupA</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/mobile-application-developer-at-brooksource-4274380464?position=51&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=LgQad5gMqVQKRMer91UAjw%3D%3D">Mobile Application Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Brooksource</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/salesforce-administrator-at-provisions-group-4272078164?position=52&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=OKBBmpKJAI%2FvMVF4q50uQQ%3D%3D">Salesforce Administrator</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Provisions Group</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/full-stack-web3-engineer-at-jobs-by-allup-4283081188?position=53&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=FcT8IOxivY9%2FnhcAfjBX3w%3D%3D">Full-Stack Web3 Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">JOBS by allUP</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-engineer-ii-mdm-at-carmax-4274541635?position=54&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=LXgD4tRXsFqZOavWKi2J6Q%3D%3D">Software Engineer II, MDM</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">CarMax</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/mobile-application-developer-at-eliassen-group-4285011379?position=55&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=3MsL3rUOaV0FvQWlYC%2BNmw%3D%3D">Mobile Application Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Eliassen Group</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/devops-engineer-at-point-of-rental-software-4286526687?position=56&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=SY17fIvoH%2Fgvs%2B3uidA6oA%3D%3D">DevOps Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Point of Rental Software</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/devops-engineer-at-7n-4278315043?position=57&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=XnGZeKy2vLAjjgrOwC%2FcZQ%3D%3D">DevOps Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">7N</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/junior-golang-developer-at-heartcentrix-solutions-4285010586?position=58&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=6G2R2pW4phvMzXf1mXyPpw%3D%3D">Junior Golang Developer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">HeartCentrix Solutions</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/devops-engineer-at-goosehead-insurance-4266977156?position=59&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=ioQ6zSMMrd%2FP47ZkzFoGQA%3D%3D">DevOps Engineer</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">Goosehead Insurance</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.linkedin.com/jobs/view/software-technical-lead-at-infoimage-inc-4284578367?position=60&amp;pageNum=0&amp;refId=SOl2rJXMKCzm1sncOaSbHA%3D%3D&amp;trackingId=h5ej54zqFJnP9yqlJW8R6g%3D%3D">Software Technical Lead</a></td> 
     <td class="city">Dallas-Fort Worth Metroplex</td> 
     <td class="companyName">InfoIMAGE, Inc.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>